{% if title %}
  <h3 class="view__heading">{{ title }}</h3>
{% endif %}

{% for row in rows %}
  {%
    set row_classes = [
      'view__row',
      'view__row--' ~ loop.index
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}
