a {
  background-color: var(--a-background-color, transparent);
  border:
    var(--a-border-width, 0)
    var(--a-border-style, solid)
    var(--a-border-color, transparent);
  color: var(--a-color, inherit);
  cursor: var(--a-cursor, pointer);
  display: var(--a-display, inline-block);
  font-family: var(--a-font-family, inherit);
  font-size: var(--a-font-size, inherit);
  font-weight: var(--a-font-weight, inherit);
  letter-spacing: var(--a-letter-spacing, inherit);
  line-height: var(--a-line-height, inherit);
  margin: var(--a-margin, 0);
  padding: var(--a-padding, 0);
  text-decoration: var(--a-text-decoration, none);
  text-transform: var(--a-text-transform, inherit);
  transition: var(--a-transition, all 200ms ease-in-out);
}
