@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/colors";
@use "@s360-base-theme/ui-core/animate-underline";
@use "s360-scss-toolkit";

.menu--local-tasks {
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
  inset: 0;
  top: unset;
  justify-content: center;
  border-top: 3px solid colors.$black;
  gap: 0.5em;

  a {
    --a--color: #{ colors.$black };
    --a--padding: 0.5em;
    --a--display: block;
    @extend %animate-underline;

    // Drupal class.
    &.is-active {
      @extend %animate-underline-active;
    }
  }
}
