@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/colors";
@use "s360-scss-toolkit";

.menu--local-tasks {
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: center;
  gap: 0.5em;

  a {
    --a--color: #{ colors.$black };
    --a--bg-color: #{ rgba(colors.$white, 0.7) };
    --a--border--color: #{ colors.$black };
    --a--border--width: 1px;
    --a--padding: 0.5em;
    --a--display: block;

    &:focus,
    &:hover,
    // Drupal class.
    &.is-active {

    }
  }

  .menu__item {
    & + .menu__item {
      --li--margin: 1em 0 0 0;
    }
  }
}
