@use "@s360-base-theme/ui-core/site-config";

dl {
  display: var(--dl--display, block);
  line-height: var(--dl--line-height);
  margin: var(--dl--margin, 0);
  padding: var(--dl--padding, 2em);
  font-size: var(--dl--font-size);
  font-weight: var(--dl--font-weight);

  dt {
    display: var(--dt--display);
    font-family: var(--dt--font-family);
    font-size: var(--dt--font-size);
    font-weight: var(--dt--font-weight);
    margin: var(--dt--margin, 0);
    padding: var(--dt--padding, 0);
  }

  dd {
    display: var(--dd--display);
    font-family: var(--dd--font-family);
    font-size: var(--dd--font-size);
    font-weight: var(--dd--font-weight);
    margin: var(--dd--margin, 0);
    padding: var(--dd--padding, 2em);
  }
}
