@use "core/site-config";
@use "core/mq";
@use "core/colors";
@use "core/typography";
@use "core/content-containers";
@use "s360-toolkit";

.view--display-table {
  .view__table {
    --table-width: 100%;

    --table-th-text-align: left;
    --table-th-padding: 0 0 0.5em 0;
    --table-th-font-size: #{ s360-toolkit.font-size-ms(-1) };

    --table-td-text-align: left;
    --table-td-vertical-align: top;
    --table-td-padding: 0.5em #{ site-config.$spacing-md } 0 0;

    th {
      border-bottom: 1px solid colors.$light-gray;
    }

    tr {
      &:first-child > td {
        --table-td-padding: 1em #{ site-config.$spacing-md } 0 0;
      }
    }

    @media (max-width: mq.$mq-768) {
      th {
        display: none;
      }

      td {
        display: flex;
        align-items: center;

        &::before {
          content: attr(data-cell) ':';
          font-weight: typography.$font-weight-bold;
          margin-right: 1ch;
        }
      }

      tr {
        @include content-containers.bleed;

        display: block;

        &:first-child > td {
          --table-td-padding: 0.5em 0 0 0;
        }

        &:nth-child(even) {
          --table-tr-background-color: #{ colors.$background-gray };
        }

        td {
          --table-td-padding: 0.5em 0 0 0;
          @include content-containers.live;

          &:first-child {
            --table-td-padding: #{ site-config.$spacing-sm } 0 0 0;
          }

          &:last-child {
            --table-td-padding: 0.5em 0 #{ site-config.$spacing-sm } 0;
          }
        }
      }
    }
  }
}
