@use "@s360-base-theme/ui-core/site-config";
@use "s360-scss-toolkit";

.form--views-exposed-form {
  .form__element--actions {
    // This should be the reset button.
    button[type="submit"]:last-child:not(:only-child) {
    }
  }
}
