@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/heading-styles";
@use "@s360-base-theme/ui-core/link-styles";
@use "@s360-base-theme/ui-core/text-styles";
@use "s360-scss-toolkit";

.ckeditor {
  h1 {
    @extend %heading-style-h1;
  }

  h2 {
    @extend %heading-style-h2;
  }

  h3 {
    @extend %heading-style-h3;
  }

  h4 {
    @extend %heading-style-h4;
  }

  p {
    @extend %text-style-p;
  }

  a {
    @extend %a;
  }
}
