@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/colors";
@use "s360-scss-toolkit";

.ck-content {
  --li-style-type: disc;

  :is(h2, h3, h4, h5, h6):first-child {
    --heading-margin-top: 0;
  }
}
