@use "core/heading-styles";

h1 {
  @extend %heading-base;
  @extend %h1-style;
}

h2 {
  @extend %heading-base;
  @extend %h2-style;
}

h3 {
  @extend %heading-base;
  @extend %h3-style;
}

h4 {
  @extend %heading-base;
  @extend %h4-style;
}

h5 {
  @extend %heading-base;
  @extend %h5-style;
}

h6 {
  @extend %heading-base;
  @extend %h6-style;
}
