@use "core/text-styles";

h1 {
  @extend %text-as-h1;
}

h2 {
  @extend %text-as-h2;
}

h3 {
  @extend %text-as-h3;
}

h4 {
  @extend %text-as-h4;
}

h5 {
  @extend %text-as-h5;
}

h6 {
  @extend %text-as-h6;
}
