{% extends "@components/paragraph/_paragraph.twig" %}

{% block paragraph_content %}
  {% if paragraph_image %}
    <div class="paragraph__image">
      {{ paragraph_image }}
    </div>
  {% endif %}
{% endblock %}
