{% extends "@ui-paragraph/paragraph.twig" %}

{% block paragraph_content %}
  {{ field_header }}

  {% if field_body %}
    <div class="paragraph__body">
      {{ field_body }}
    </div>
  {% endif %}
{% endblock %}
