{% set classes = [
  'html-content',
] %}
{% set attributes = attributes|default(create_attribute({})) %}
{% set attributes = attributes.setAttribute('class', classes) %}
{% set attributes = attributes.setAttribute('data-js', 'html-content') %}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}
  {{ paragraph_field_header }}

  {% if paragraph_field_body %}
    <div class="html-content__body">
      {{ paragraph_field_body }}
    </div>
  {% endif %}
{% endblock %}
