@use "core/config" as *;
@use "s360-toolkit" with ($config: $SITE_CONFIG);

@use "../_view" as *;
@use "core";

.view--display-grid {
  @extend %view;

  .view__rows {
    display: grid;
  }

  &.view--2-columns {
    .view__rows {
    }
  }

  &.view--3-columns{
    .view__rows {
    }
  }

  &.view--4-columns {
    .view__rows {
    }
  }
}
