{% extends "@ui-paragraph/paragraph.twig" %}

{% block paragraph_content %}
  {% if field_erm_image %}
    <div class="paragraph__image">
      {{ field_erm_image }}
    </div>
  {% endif %}
{% endblock %}
