{% set classes = [
  'image',
] %}
{% set attributes = attributes|default(create_attribute({})) %}
{% set attributes = attributes.setAttribute('class', classes) %}
{% set attributes = attributes.setAttribute('data-js', 'image') %}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}

  {% if field_erm_image %}
    <div class="paragraph__image-wrapper">
      {{ field_erm_image }}
    </div>
  {% endif %}
{% endblock %}
