{% set image_classes = [
  'image',
] %}
{% set paragraph_attributes = attributes|default(create_attribute({})) %}
{% set paragraph_attributes = paragraph_attributes.setAttribute('class', image_classes) %}
{% set paragraph_attributes = paragraph_attributes.setAttribute('data-js', 'image') %}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}
  {{ attach_library('s360_base_theme/paragraph.image') }}

  {% if field_erm_image %}
    <div class="image__image-wrapper">
      {{ field_erm_image }}
    </div>
  {% endif %}
{% endblock %}
