{% set paragraph_classes = [
  'image',
] %}
{% set attributes = attributes|default(create_attribute()) %}
{% set attributes = attributes.setAttribute('data-js', 'image') %}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}
  {% if paragraph_field_erm_image %}
    <div class="image__wrapper">
      {{ paragraph_field_erm_image }}
    </div>
  {% endif %}
{% endblock %}
