@use "@s360-base-theme/ui-core/heading-styles";

h1 {
  @extend %heading-style-h1;
  @extend %heading-style-base;
}

h2 {
  @extend %heading-style-h2;
  @extend %heading-style-base;
}

h3 {
  @extend %heading-style-h3;
  @extend %heading-style-base;
}

h4 {
  @extend %heading-style-h4;
  @extend %heading-style-base;
}

:is(h2, h3, h4, h5, h6) {
  + :is(h2, h3, h4, h5, h6) {
    --heading--margin-top: 0;
  }
}
