@use "@s360-base-theme/ui-core/heading-styles";

h1 {
  @extend %heading-as-h1;
}

h2 {
  @extend %heading-as-h2;
}

h3 {
  @extend %heading-as-h3;
}

h4 {
  @extend %heading-as-h4;
}

h5 {
  @extend %heading-as-h5;
}

h6 {
  @extend %heading-as-h6;
}
