{% extends "@ui-paragraph/_paragraph.twig" %}

{% block paragraph_content %}
  {% if paragraph_field_header %}
    {{- paragraph_field_header -}}
  {% endif %}

  {% if paragraph_field_body %}
    <div class="paragraph__body">
      {{ paragraph_field_body }}
    </div>
  {% endif %}
{% endblock %}
