@use "@s360-base-theme/ui-core/site-config";

.view {
  &__pager:has(ul) {
    margin-top: site-config.spacer(0);
  }

  &__more-link {
    margin-top: site-config.spacer(0);
  }

  &__content {
    container-type: inline-size;
  }

  &__row {
    container-type: inline-size;

    + .view__row {
      margin-top: var(--view--row--margin-top, #{ site-config.spacer(0) });
    }
  }

  &__footer {
    margin-top: site-config.spacer(0);
  }
}
