@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/animators";
@use "@s360-base-theme/ui-core/mq";
@use "s360-scss-toolkit" as s360;

.view {
  &__pager:has(ul) {
    margin-top: site-config.$scale-0;
  }

  &__more-link {
    margin-top: site-config.$scale-0;
  }

  &__content {
    container-type: inline-size;
  }

  &__exposed-filters {
    .view__filter-summary {
    }

    .view__filters {
      margin-top: site-config.$scale-0;
    }

    @media (width >= mq.$mq-768) {
      --summary--display: none;

      .view__filters {
        margin-top: 0;
      }
    }
  }

  &__row {
    @extend %fadein-slideup-animator;

    container-type: inline-size;

    + #{&} {
      margin-top: var(--view--row--margin-top, #{site-config.$scale-0});
    }
  }

  &__footer {
    margin-top: site-config.$scale-0;
  }
}
