@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/animators";
@use "s360-scss-toolkit";

.view {
  &__pager:has(ul) {
    margin-top: site-config.spacer(0);
  }

  &__more-link {
    margin-top: site-config.spacer(0);
  }

  &__content {
    container-type: inline-size;
  }

  &__row {
    @extend %fadein-slideup-animator;

    container-type: inline-size;

    + #{&} {
      margin-top: var(--view--row--margin-top, #{ site-config.spacer(0) });
    }
  }

  &__footer {
    margin-top: site-config.spacer(0);
  }
}
