@use "../../00-core" as core;

h1, h2, h3, h4, h5, h6 {
  @extend %heading-base;
}

h1 {
  font-size: var(--heading-font-size, var(--h1-font-size, #{ core.h1-font-size() }));
}

h2 {
  font-size: var(--heading-font-size, var(--h2-font-size, #{ core.h2-font-size() }));
}

h3 {
  font-size: var(--heading-font-size, var(--h3-font-size, #{ core.h3-font-size() }));
}

h4 {
  font-size: var(--heading-font-size, var(--h4-font-size, #{ core.h4-font-size() }));
}

h5 {
  font-size: var(--heading-font-size, var(--h5-font-size, #{ core.h5-font-size() }));
}

h6 {
  font-size: var(--heading-font-size, var(--h6-font-size));
}
