{#
  NOTE: This file is for Storybook display purposes only.

  # Available Variables:
  # column_ratio: The ratio for the columns.
#}

<section class="layout layout--two-column {{ column_ratio }}">
  <div class="layout__regions">
    <div class="layout__region layout__region--first">
      {% include "@components/paragraph/placeholder/placeholder.twig" with {
        paragraph_field_title: "First Region Content"
      } %}
    </div>

    <div class="layout__region layout__region--second">
      {% include "@components/paragraph/placeholder/placeholder.twig" with {
        paragraph_field_title: "Second Region Content"
      } %}
    </div>
  </div>
</section>
