{# NOTE: This file is for Storybook display purposes only. #}

<section{{ attributes }}>
  <div class="layout__regions">
    <div class="layout__region layout__region--first">
      {{ paragraph_layout_region_first }}
    </div>

    <div class="layout__region layout__region--second">
      {{ paragraph_layout_region_second }}
    </div>
  </div>
</section>
