{% extends "@ui-paragraph/paragraph.twig" %}

{% block paragraph_content %}
  {{ field_header }}

  {% if field_links %}
    <div class="paragraph__links">
      {{ field_links }}
    </div>
  {% endif %}
{% endblock %}
