{% extends "@ui-paragraph/_paragraph.twig" %}

{% block paragraph_content %}
  {% if paragraph_field_header %}
    {{ paragraph_field_header }}
  {% endif %}

  {% if paragraph_documents %}
    <div class="paragraph__documents">
      {{ paragraph_documents }}
    </div>
  {% endif %}
{% endblock %}
