{% set classes = [
  'document-list',
  field_document_view_mode ?? 'document-list--' ~ field_document_view_mode
] %}
{% set attributes = attributes|default(create_attribute({})) %}
{% set attributes = attributes.setAttribute('class', classes) %}
{% set attributes = attributes.setAttribute('data-js', 'document-list') %}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}
  {{ paragraph_field_header }}

  {% if documents %}
    <div class="document-list__documents">
      {{ documents }}
    </div>
  {% endif %}
{% endblock %}
