{% extends "@ui-paragraph/paragraph.twig" %}

{% block paragraph_content %}
  {{ paragraph_field_header }}

  {% if paragraph_documents %}
    <div class="paragraph__documents">
      {{ paragraph_documents }}
    </div>
  {% endif %}
{% endblock %}
