{% set classes = [
  'document-list',
  paragraph_field_document_view_mode ? 'document-list--' ~ paragraph_field_document_view_mode : ''
] %}
{% set attributes = attributes|default(create_attribute()) %}
{% set attributes = attributes.setAttribute('class', classes) %}
{% set attributes = attributes.setAttribute('data-js', 'document-list') %}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}
  {{ paragraph_field_header }}

  {% if paragraph_documents %}
    <div class="document-list__documents">
      {{ paragraph_documents }}
    </div>
  {% endif %}
{% endblock %}
