@use "s360-toolkit";
@use "core/site-config";
@use "core/colors";
@use "core/typography";
@use "core/heading-font-sizes";

%_heading-base {
  color: var(--heading-color);
  line-height: var(--heading-line-height, 1);
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  text-transform: var(--heading-text-transform);
}

%text-as-h1 {
  @extend %_heading-base;

  font-size: var(--h1-font-size, var(--heading-font-size, #{ heading-font-sizes.h1-font-size() }));
}

%text-as-h2 {
  @extend %_heading-base;

  font-size: var(--h2-font-size, var(--heading-font-size, #{ heading-font-sizes.h2-font-size() }));
}

%text-as-h3 {
  @extend %_heading-base;

  font-size: var(--h3-font-size, var(--heading-font-size, #{ heading-font-sizes.h3-font-size() }));
}

%text-as-h4 {
  @extend %_heading-base;

  font-size: var(--h4-font-size, var(--heading-font-size, #{ heading-font-sizes.h4-font-size() }));
}

%text-as-h5 {
  @extend %_heading-base;

  font-size: var(--h5-font-size, var(--heading-font-size, #{ heading-font-sizes.h5-font-size() }));
}

%text-as-h6 {
  --heading-color: #{ colors.$black };
  --heading-font-weight: 800;
  --heading-font-family: #{ typography.$font-family-mallory };
  --heading-text-transform: uppercase;
  @extend %_heading-base;

  font-size: var(--h6-font-size, var(--heading-font-size, #{ heading-font-sizes.h6-font-size() }));
}

%text-as-p {
  color: var(--p-color);
  display: var(--p-display);
  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  font-style: var(--p-font-style);
  font-weight: var(--p-font-weight);
  line-height: var(--p-line-height, #{ site-config.$text-line-height });
  margin: var(--p-margin, 0 0 1em 0);
  padding: var(--p-padding, 0);

  &:last-of-type {
    margin-bottom: 0;
  }
}
