@use "core/site-config";
@use "core/colors";
@use "core/typography";
@use "core/heading-font-sizes";
@use "core/heading-styles";
@use "s360-toolkit";

%text-as-h1 {
  @extend %heading-base;
  @extend %h1-style;
}

%text-as-h2 {
  @extend %heading-base;
  @extend %h2-style;
}

%text-as-h3 {
  @extend %heading-base;
  @extend %h3-style;
}

%text-as-h4 {
  @extend %heading-base;
  @extend %h4-style;
}

%text-as-h5 {
  @extend %heading-base;
  @extend %h5-style;
}

%text-as-h6 {
  @extend %heading-base;
  @extend %h6-style;
}

%text-as-p {
  color: var(--p-color);
  display: var(--p-display, block);
  font-family: var(--p-font-family);
  font-size: var(--p-font-size);
  font-style: var(--p-font-style);
  font-weight: var(--p-font-weight);
  line-height: var(--p-line-height);
  margin: var(--p-margin, 0 0 1em 0);
  padding: var(--p-padding, 0);

  &:last-of-type {
    margin-bottom: 0;
  }
}
