@use "core/site-config";
dl {
  display: var(--dl-display, block);
  margin: var(--dl-margin, 0);
  padding: var(--dl-padding, 2em);

  dt {
    font-size: var(--dt-font-size);
    font-family: var(--dt-font-family);
    font-weight: var(--dt-font-weight);
    line-height: var(--dt-line-height, #{ site-config.$line-height });
    margin: var(--dt-margin, 0);
    padding: var(--dt-padding, 0);
  }

  dd {
    font-size: var(--dd-font-size);
    font-family: var(--dd-font-family);
    font-weight: var(--dd-font-weight);
    line-height: var(--dd-line-height, #{ site-config.$line-height });
    margin: var(--dd-margin, 0);
    padding: var(--dd-padding, 2em);
  }
}
