@use "sass:math";
@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/colors";
@use "@s360-base-theme/ui-core/mq";
@use "s360-scss-toolkit";

$_height: 30px;
$_width: 30px;
$_span-height: 2px;

.menu-toggle {
  height: $_height;
  width: $_width;

  span {
    display: block;
    height: $_span-height;
    width: 100%;
    background: #0e2431;
    position: relative;
    transition: all 200ms ease-in-out;

    &::before,
    &::after {
      content: '';
      height: $_bar-height;
      position: absolute;
      width: 100%;
      background: #0e2431;
      transition: all 200ms ease-in-out;
    }

    &::before {
      top: calc(calc((#{ $_height } / 2) - #{ $_span-height }) * -1);
    }

    &::after {
      bottom: calc(calc((#{ $_height } / 2) - #{ $_span-height }) * -1);
    }
  }

  &[aria-expanded="false"] {

  }

  &[aria-expanded="true"] {
    span {
      width: 100%;
      background: transparent;

      &::before {
        top: 0;
        rotate: 45deg;
      }

      &::after {
        bottom: 0;
        rotate: -45deg;
      }
    }
  }

  // **************************************************
  /// MEDIA QUERIES

  @media (site-config.$main-menu-mq) {
    --button-display: none;
  }
}
