@use "core/site-config";
@use "s360-toolkit";
@use "core/mq";
@use "../_layout.scss" as *;

.layout--three-column {
  @extend %layout;

  > .layout__regions {
    display: grid;
    row-gap: site-config.$spacing-half;
    column-gap: site-config.$spacing;
  }

  /// **************************************************
  /// MEDIA QUERIES

  @media (min-width: mq.$mq-1024) {
    > .layout__regions {
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    /// **************************************************
    /// 33-33-33 SPLIT

    &.layout--33-33-33 {
      > .layout__regions {
        > .layout__region {
          grid-column: span 4;
        }
      }
    }

    /// **************************************************
    /// 25-50-25 SPLIT

    &.layout--25-50-25 {
      > .layout__regions {
        > .layout__region--first {
          grid-column: 1 / 4;
        }

        > .layout__region--second {
          grid-column: 4 / 10;
        }

        > .layout__region--third {
          grid-column: 10 / 13;
        }
      }
    }

    /// **************************************************
    /// 50-25-25 SPLIT

    &.layout--50-25-25 {
      > .layout__regions {
        > .layout__region--first {
          grid-column: 1 / 7;
        }

        > .layout__region--second {
          grid-column: 7 / 10;
        }

        > .layout__region--third {
          grid-column: 10 / 13;
        }
      }
    }

    /// **************************************************
    /// 25-25-50 SPLIT

    &.layout--25-25-50 {
      > .layout__regions {
        > .layout__region--first {
          grid-column: 1 / 4;
        }

        > .layout__region--second {
          grid-column: 4 / 7;
        }

        > .layout__region--third {
          grid-column: 7 / 13;
        }
      }
    }
  }
}
