{% set classes = [
  'branding-block',
] %}
{% set attributes = attributes|default(create_attribute({})) %}
{% set attributes = attributes.setAttribute('class', classes) %}
{% set attributes = attributes.setAttribute('data-js', 'branding-block') %}

<div{{ attributes }}>
  {% if block_site_logo %}
    <img
      src="{{ block_site_logo }}"
      alt="Logo">

  {% else %}
    {% if block_site_name %}
      <div class="branding-block__site-name">
        {{ block_site_name }}
      </div>
    {% endif %}
  {% endif %}
</div>
