<div class="branding-block" data-js="branding-block">
  <a
    href="{{ path('<front>') }}"
    title="{{ 'Home'|t }}"
    aria-label="Go to {{ site_name }} homepage"
    rel="home"
  >
    <img
      src="{{ site_logo }}"
      alt="Logo">
  </a>
</div>
