<article{{ attributes }}>
  <header class="node__header" data-js="node-header">
    {% block node_header %}
      <h1 class="node__heading">
        {% block node_heading %}
          {{ node_field_label }}
        {% endblock %}
      </h1>
    {% endblock %}
  </header>

  <div class="node__content">
    {% block node_content %}
      {{ content }}
    {% endblock %}
  </div>

  {% if node_has_aside %}
    <aside class="node__aside">
      {% block node_aside_content %}
        {{ node_aside_content }}
      {% endblock %}
    </aside>
  {% endif %}
</article>
