@use "./site-config";
@use "./colors";
@use "./typography";
@use "s360-scss-toolkit";

/// Defines the styles for the primary CTA.
///
/// @access public
///
%cta-primary {
  background-color: var(--cta-primary--bg-color);
  color: var(--cta-primary--color);
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: var(--cta-primary--bg-color--active, var(--cta-primary--bg-color));
    color: var(--cta-primary--color--active, var(--cta-primary--color));
  }
}
