@use "./site-config";
@use "./colors";
@use "./typography";
@use "s360-scss-toolkit";

/// Defines the styles for the secondary CTA.
///
/// @access public
///
%cta-secondary {
  color: var(--cta-secondary--color);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: var(--cta-secondary--color--hover, var(--cta-primary--color));
  }

  &:focus-visible {

  }
}
