%icon-embed {
  aspect-ratio: 1 / 1;
  background-color: var(--icon-embed--bg-color, currentColor);
  content: "";
  display: var(--icon-embed--display, inline-block);
  mask-image: var(--icon-embed--mask-image);
  margin-inline: var(--icon-embed--margin-inline);
  mask-position: center;
  mask-repeat: no-repeat;
  transition: all 100ms ease-in-out;
  translate: var(--icon-embed--translate, 0 0);
  min-width: var(--icon-embed--min-width, 1em);
}
