$SITE_CONFIG: (
  font-size-base: 16,
  modular-scale-ratio: 1,
);

@use "sass:math";
@use "s360-scss-toolkit" with ($config: $SITE_CONFIG);
@use "./mq";

// **************************************************
// SPACING

$spacer-up-5: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(5), 'px');
$spacer-up-4: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(4), 'px');
$spacer-up-3: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(3), 'px');
$spacer-up-2: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(2), 'px');
$spacer-up-1: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(1), 'px');
$spacer-0: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(0), 'px');
$spacer-down-1: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(-1), 'px');
$spacer-down-2: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(-2), 'px');
$spacer-down-3: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(-3), 'px');
$spacer-down-4: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(-4), 'px');
$spacer-down-5: s360-scss-toolkit.to-unit(s360-scss-toolkit.modular-scale(-5), 'px');


// **************************************************
// GAPS AND GRIDS

$grid-columns: 12;
$column-gap: $spacer-0;

// @function column-width() {
//   @return calc(#{ $site-content-area / $grid-columns });
// }

// **************************************************
// LAYOUT

$site-max-width: 1440px;
$site-side-margin: s360-scss-toolkit.linear-scale($spacer-0, $spacer-0);
$site-content-area: calc(#{ $site-max-width } - calc(#{ $site-side-margin } * 2));
$main-menu-mq: 'min-width: #{ mq.$mq-1024 }';

// **************************************************
// UI

$circle-chevron-down: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48IS0tISBGb250IEF3ZXNvbWUgUHJvIDYuMS4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlIChDb21tZXJjaWFsIExpY2Vuc2UpIENvcHlyaWdodCAyMDIyIEZvbnRpY29ucywgSW5jLiAtLT48cGF0aCBkPSJNMzU2LjcgMjEyLjdMMjU2IDMxMy40TDE1NS4zIDIxMi43Yy02LjI1LTYuMjUtMTYuMzgtNi4yNS0yMi42MiAwcy02LjI1IDE2LjM4IDAgMjIuNjJsMTEyIDExMkMyNDcuOCAzNTAuNCAyNTEuOSAzNTIgMjU2IDM1MnM4LjE4OC0xLjU2MiAxMS4zMS00LjY4OGwxMTItMTEyYzYuMjUtNi4yNSA2LjI1LTE2LjM4IDAtMjIuNjJTMzYyLjkgMjA2LjQgMzU2LjcgMjEyLjd6TTI1NiAwQzExNC42IDAgMCAxMTQuNiAwIDI1NnMxMTQuNiAyNTYgMjU2IDI1NnMyNTYtMTE0LjYgMjU2LTI1NlMzOTcuNCAwIDI1NiAwek0yNTYgNDgwYy0xMjMuNSAwLTIyNC0xMDAuNS0yMjQtMjI0czEwMC41LTIyNCAyMjQtMjI0czIyNCAxMDAuNSAyMjQgMjI0UzM3OS41IDQ4MCAyNTYgNDgweiIvPjwvc3ZnPg==");
