{# NOTE: This file is for Storybook display purposes only. #}

<section class="layout layout--four-column">
  <div class="layout__regions">
    <div class="layout__region layout__region--first">
      {% include "@components/paragraph/placeholder/placeholder.twig" with {
        paragraph_field_title: "First Region Content"
      } %}
    </div>

    <div class="layout__region layout__region--second">
      {% include "@components/paragraph/placeholder/placeholder.twig" with {
        paragraph_field_title: "Second Region Content"
      } %}
    </div>

    <div class="layout__region layout__region--third">
      {% include "@components/paragraph/placeholder/placeholder.twig" with {
        paragraph_field_title: "Third Region Content"
      } %}
    </div>

    <div class="layout__region layout__region--fourth">
      {% include "@components/paragraph/placeholder/placeholder.twig" with {
        paragraph_field_title: "Fourth Region Content"
      } %}
    </div>
  </div>
</section>
