@use "core/config" as *;
@use "s360-toolkit" with ($config: $SITE_CONFIG);

@use "core";
@use "../_layout.scss" as *;

.layout--four-column {
  @extend %layout;

  .layout__region {
    > * + * {
    }
  }

  @media (min-width: core.$mq-1024) {
    .layout__region {
      grid-column: span 3;
    }
  }
}
