<main id="site-main" class="site-main">
  {% if site_main_page_system %}
    <div class="site-main__system">
      {{- site_main_page_system -}}
    </div>
  {% endif %}

  {{ site_main_page_content }}
</main>
