<main class="site-main">
  {% if site_main_page_system %}
    <div class="site-main__system">
      {{- site_main_page_system -}}
    </div>
  {% endif %}

  {% block site_main_page_content %}
    {% include "@components/paragraph/placeholder/placeholder.twig" with {
      "paragraph_field_title": "Site Content",
    } %}
  {% endblock %}
</main>
