{# NOTE: This file is for Storybook display purposes only. #}

<div{{ attributes }}>
  <details class="layout__details">
    <summary class="layout__summary"> {{ paragraph_header }}</summary>

    <div class="layout__regions">
      <div class="layout__region layout__region--content">
        {{ paragraph_layout_region_content }}
      </div>
    </div>
  </details>
</div>
