@use "core/site-config";
@use "s360-toolkit" with ($config: site-config.$SITE_CONFIG);
@use "../_layout.scss";

.layout--accordion {
  @extend %layout;

  .layout__summary {
    @include s360-toolkit.font-size-ms(1, 'summary');
  }
}
