@use "@s360-base-theme/ui-core/site-config";
@use "s360-scss-toolkit";

.menu--social {
  @extend %semantic-list;

  display: flex;

  .menu__item + .menu__item {
    margin-left: site-config.$spacer-0;
  }
}
