@use "core/site-config";
@use "core/heading-styles";
@use "s360-scss-toolkit";

.advanced-header-field {
  // **************************************************
  // SYLES

  &.advanced-header-field--style-centered {
    text-align: center;
  }

  // **************************************************
  // SIZES

  &.advanced-header-field--size-h2 {
    .advanced-header-field__heading {
      @extend %heading-as-h2;
    }
  }

  &.advanced-header-field--size-h3 {
    .advanced-header-field__heading {
      @extend %heading-as-h3;
    }
  }

  &.advanced-header-field--size-h4 {
    .advanced-header-field__heading {
      @extend %heading-as-h4;
    }
  }

  &.advanced-header-field--size-h5 {
    .advanced-header-field__heading {
      @extend %heading-as-h5;
    }
  }

  &.advanced-header-field--size-h6 {
    .advanced-header-field__heading {
      @extend %heading-as-h6;
    }
  }
}
