@use "s360-toolkit";
@use "core";

.placeholder {
  border: 4px dashed core.$color-medium-platinum;
  padding: core.$spacing-double;
  font-size: s360-toolkit.font-size-ms(5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
