{% extends "@components/paragraph/_paragraph.twig" %}

{% block paragraph_content %}
  {% if paragraph_field_title %}
    <div class="paragraph__title">
      {{ paragraph_field_title }}
    </div>
  {% endif %}

  {% if paragraph_field_body %}
    <div class="paragraph__body">
      {{ paragraph_field_body }}
    </div>
  {% endif %}
{% endblock %}
