@use "core/site-config";
@use "s360-toolkit" with ($config: site-config.$SITE_CONFIG);

@use "./branding-block/_branding-block";

@use "./site-header/_site-header.scss";
@use "./site-main/_site-main.scss";
@use "./site-footer/_site-footer.scss";
