@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/content-containers";

.layout {
  > .layout__content {
    container-name: layout-content;
    container-type: inline-size;

    > .layout__regions {
      display: grid;
      row-gap: site-config.$spacer-0;
      column-gap: site-config.$column-gap;
    }
  }

  .layout__region {
    container-name: layout-region;
    container-type: inline-size;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: minmax(0, 1fr);
    row-gap: var(--layout-region-gap);
  }

  // **************************************************
  // BOTTOM MARGINS

  &.layout--margin-bottom-sm {
    margin-bottom: site-config.$spacer-0;
  }

  &.layout--margin-bottom-md {
    margin-bottom: site-config.$spacer-0;
  }

  &.layout--margin-bottom-lg {
    margin-bottom: site-config.$spacer-0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  // **************************************************
  // REGION GAP

  &.layout--region-gap-sm {
    --layout-region-gap: #{ site-config.$spacer-up-2 };
  }

  &.layout--region-gap-md {
    --layout-region-gap: #{ site-config.$spacer-up-3 };
  }

  &.layout--region-gap-lg {
    --layout-region-gap: #{ site-config.$spacer-up-5 };
  }
}
