{% if not label_hidden %}
  <div class="field-label">{{ label|t }}</div>
{% endif %}

{% for item in items %}
  <div clsss="field-value field-value--{{ loop.index }}">
    {{- item.content -}}
  </div>
{% endfor %}