{% if label_hidden %}
  {% for item in items %}
    {{- item.content -}}
  {% endfor %}

{# There is a label, assume this is not for public display. #}
{% else %}
  <dl class="field">
    <dt class="field__term">{{ label }}</dt>
    <dd class="field__description">
      {% for item in items %}
        <div clsss="field__item field__item--{{ loop.index }}">
          {{- item.content -}}
        </div>
      {% endfor %}
    </dd>
  </dl>
{% endif %}
