ul,
ol {
  margin: var(--list--margin, 1em 0);
  padding: var(--list--padding, 0 0 0 2em);
  display: var(--list--display, block);
  line-height: var(--list--line-height, 1);
  max-width: var(--list--max-width);

  &[class] {
    --list--margin: 0;
    --list--padding: 0;
    --li--style-type: none;
  }

  li {
    padding: var(--li--padding, 0);
    margin: var(--li--margin, 0);
    list-style-type: var(--li--style-type);

    &::marker {
      color: var(--li--marker--color);
      font-family: var(--li--marker--font-family);
      font-size: var(--li--marker--font-size);
      font-weight: var(--li--marker--font-weight);
    }
  }
}

ul {
  --li--style-type: disc;
}

ol {
  --li--style-type: decimal;
}
