{% set classes = [
  {{#each componentClasses}}
  '{{ this }}',
  {{/each}}
] %}
{% set attributes = create_attribute() %}
{% set attributes = attributes.setAttribute('class', classes) %}

<div\{{ attributes }}>

</div>
