{% set classes = [
  'placeholder',
] %}
{% set attributes = attributes|default(create_attribute()) %}
{% set attributes = attributes.setAttribute('class', classes) %}
{% set attributes = attributes.setAttribute('data-js', 'placeholder') %}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}
  {% if paragraph_field_title %}
    <div class="placeholder__title">
      {{ paragraph_field_title }}
    </div>
  {% endif %}

  {% if paragraph_field_body %}
    <div class="placeholder__body">
      {{ paragraph_field_body }}
    </div>
  {% endif %}
{% endblock %}
