{% set placeholder_classes = [
  'placeholder',
] %}
{% set paragraph_attributes = attributes|default(create_attribute({})) %}
{% set paragraph_attributes = paragraph_attributes.setAttribute('class', placeholder_classes) %}
{% set paragraph_attributes = paragraph_attributes.setAttribute('data-js', 'placeholder') %}

{{ attach_library('s360_base_theme/paragraph.placeholder') }}

{% extends "@ui-paragraph/paragraph.html.twig" %}

{% block paragraph_content %}
  {% if field_title %}
    <div class="placeholder__title">
      {{ field_title }}
    </div>
  {% endif %}

  {% if field_body %}
    <div class="placeholder__body">
      {{ field_body }}
    </div>
  {% endif %}
{% endblock %}
