@use "@s360-base-theme/ui-core/site-config";
@use "@s360-base-theme/ui-core/colors";
@use "s360-scss-toolkit";

.paragraph--placeholder {
  border: 4px dashed colors.$black;
  padding: 1em;

  > * + * {
    margin-top: 0.5em;
  }
}
