{% extends "@ui-paragraph/paragraph.twig" %}

{% block paragraph_content %}
  {% if field_title %}
    <div class="paragraph__title">
      {{ field_title }}
    </div>
  {% endif %}

  {% if field_body %}
    <div class="paragraph__body">
      {{ field_body }}
    </div>
  {% endif %}
{% endblock %}
