@use "core/site-config";
@use "s360-scss-toolkit";

.pager {
  &__items {
    @extend %semantic-list;

    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__item {
    + .pager__item {
      margin-left: site-config.$spacer-0sm;
    }

    // Drupal class.
    &.is-active {
    }
  }
}
