<article{{ attributes }}>
  {% block node_teaser %}
    <header class="node-teaser__header">
      {% block node_teaser_header %}
        <div class="node-teaser__heading">
          {% block node_teaser_heading %}
            {{- node_teaser_field_label -}}
          {% endblock %}
        </div>
      {% endblock %}
    </header>

    <div class="node-teaser__content">
      {% block node_teaser_content %}
        {{ node_teaser_content }}
      {% endblock %}
    </div>
  {% endblock %}
</article>
