{#
/**
 * Available Variables:
 * - curated_node: The rendered node.
 *
 * @see s360_base_theme_preprocess_paragraph__curated_content()
 */
#}

{% if not paragraph.isPublished() %}
  <div data-unpublished="paragraph">
{% endif %}

{{ curated_node }}

{% if not paragraph.isPublished() %}
  </div>
{% endif %}
