@use "@s360-base-theme/ui-core/site-config";
@use "s360-scss-toolkit";

.view--unformatted {
  .view__row + .view__row {
    margin-top: var(--view-unformatted--view-row--margin-top, #{ site-config.$spacer-0 });
  }
}
