{% extends "@ui-paragraph/_paragraph.twig" %}

{% block paragraph_content %}
  {% if paragraph_field_header %}
    {{ paragraph_field_header }}
  {% endif %}

  {% if paragraph_field_webform %}
    <div class="paragraph__webform">
      {{ paragraph_field_webform }}
    </div>
  {% endif %}
{% endblock %}
