{% extends "@components/paragraph/_paragraph.twig" %}

{% block paragraph_content %}
  {{ paragraph_field_header }}

  {% if paragraph_field_links %}
    <div class="paragraph__links">
      {{ paragraph_field_links }}
    </div>
  {% endif %}
{% endblock %}
