@use "core/site-config";
@use "core/content-containers";

%layout {
  // Don't allow header to touch content.
  > .advanced-header-field {
    margin-bottom: 0;
  }

  // Make sure paragraphs inside regions don't touch each other.
  .layout__region {
    > * + * {
      margin-top: 0;
    }
  }

  /// **************************************************
  /// LAYOUT WIDTH MODIFIERS

  &.layout--width-edge-to-edge {
    @extend %edge-to-edge;

    > .advanced-header-field,
    > .layout__regions {
      @extend %live;
    }
  }

  /// **************************************************
  /// MARGIN BOTTOM MODIFIERS

  &.layout--margin-bottom-sm {
    margin-bottom: site-config.$spacing-half;
  }

  &.layout--margin-bottom-md {
    margin-bottom: site-config.$spacing;
  }

  &.layout--margin-bottom-lg {
    margin-bottom: site-config.$spacing-double;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
