<div class="branding-block" data-js="branding-block">
  <a
    href="{{ path('<front>') }}"
    title="{{ 'Home'|t }}"
    aria-label="Go to {{ branding_block_site_name }} homepage"
    rel="home"
  >
    {{ branding_block_site_logo }}
  </a>
</div>
