{# NOTE: This file is for Storybook display purposes only. #}

<section class="layout layout--one-column">
  <div class="layout__regions">
    <div class="layout__region layout__region--content">
      {% include "@components/paragraph/placeholder/placeholder.twig" with {
        paragraph_field_title: "Content Region"
      } %}
    </div>
  </div>
</section>
