{# NOTE: This file is for Storybook display purposes only. #}

<section{{ attributes }}>
  <div class="layout__regions">
    <div class="layout__region layout__region--content">
      {{ paragraph_layout_region_content }}
    </div>
  </div>
</section>
