@use "core/site-config";
@use "s360-toolkit" with ($config: site-config.$SITE_CONFIG);
@use "../_layout.scss";

.layout--one-column {
  @extend %layout;

  > .layout__regions {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
