details {
  summary {
    line-height: var(--summary-line-height, 1);
    align-items: center;
    background-color: var(--summary-background-color, transparent);
    color: var(--summary-colo);
    cursor: var(--summary-cursor, pointer);
    display: var(--summary-display, inline-flex);
    font-family: var(--summary-font-family);
    font-weight: var(--summary-font-weight);
    font-size: var(--summary-font-size);
    position: relative;
    text-transform: var(--summary-text-transform);
    margin: var(--summary-margin, 0);
    transition: var(--summary-transition, all 200ms ease-in-out);
    padding: var(--summary-padding, 0);
    outline: var(--summary-outline);
    outline-offset: var(--summary-outline-offset, 4px);

    &:focus {
      [data-whatintent="keyboard"] & {
        --summary-outline: 4px dashed currentColor;
      }
    }

    &::-webkit-details-marker,
    &::marker {
      display: none;
      content: '';
    }

    &::before {
      content: var(--summary-before-content, '');
      background-color: currentColor;
      mask-image: var(--summary-before-mask-image);
      mask-repeat: no-repeat;
      mask-position: center;
      display: inline-flex;
      flex: 0 0 auto;
      height: 0.75em;
      width: 0.75em;
      margin-right: 0.5em;
      transition: transform 200ms ease-in-out;
    }
  }

  &[open] {
    --summary-margin: var(--summary-margin-open);
  }
}
