svg {
  width: var(--svg-width);
  height: var(--svg-height);
  display: var(--svg-display);

  path {
    fill: var(--svg-path-fill, inherit);
    transition: var(--svg-path-transition, all 200ms ease-in-out);
  }
}
