@use "s360-toolkit/reset";

@use "core/config" as *;
@use "s360-toolkit" with ($config: $SITE_CONFIG);

/// **************************************************
/// Single top-level-files, no associated stories.

@use "./_root";

@use "./_body";
@use "./_figure";
@use "./_html";
@use "./_svg";

/// **************************************************
/// Single styles typically with associated stories.

@use "./button/_button";
@use "./form/_form";
@use "./img/_img";
@use "./link/_link";
@use "./table/_table";

/// **************************************************
/// Top-level folders that contain multiple styles,
/// with associated stories.

@use "./lists";
@use "./text";
