{% set wrap_in_span = wrap_in_span|default(true) %}

{% if link_text %}
  {% spaceless %}
  <a {{ attributes }} href="{{ link_url|default('#') }}">{% if wrap_in_span %}<span>{% endif %}{{- link_text -}}{% if wrap_in_span %}</span>{% endif %}</a>
  {% endspaceless %}
{% endif %}
