<a
  {% for attribute, value in link_attributes %}
    {{ attribute }}="{{ value }}"
  {% endfor %}
  href="{{ link_url }}"
>
  {% spaceless %}
    <span>{{ link_content }}</span>
  {% endspaceless %}
</a>
